div.matrizes{
  width: 110%;
  font-size: 7px;
  background-color: rgb(95, 91, 90);
}

table{
  background-color: rgb(95, 91, 90);
}

td{
  position: flex;
  text-align: center; 
  height: 20px; /* ALTURA DE CADA BLOCO */
  width: 27px ; /* LARGURA DE CADA BLOCO */
  min-width: 27px;
}

td.Ativo {
  border-collapse: separate;    
  border-style: solid;
  border-color: rgb(24, 24, 24);
  background-color: green;
  color: aliceblue;
  /* cursor: pointer;   */
}

/* table tr *.Ativo:hover{
  background-color: rgb(245, 143, 10);
  color: aliceblue;
}*/

/* table tr *.Certificado:hover{
  background-color: rgb(245, 143, 10);
  color: aliceblue;
} */

table tr *.Ala:hover{
  background-color: rgb(245, 143, 10);
  color: aliceblue;
} */

table tr *.Validado:hover{
  background-color: rgb(245, 143, 10);
  color: aliceblue;
}

table tr *.Busca:hover{
  background-color: rgb(238, 78, 78);
  color: aliceblue;
}

td.Inativo{
  border-collapse: separate;    
  border-style: solid;
  border-color: rgb(24, 24, 24);
  background-color: #d5d0d0;
}

td.Ala{
  border-collapse: separate;    
  border-style: solid;
  border-color: rgb(24, 24, 24);
  background-color: rgb(255, 255, 0);
  color: black;
  cursor: pointer;
  padding: 3px;
  /* font-weight: bold; */
}

td.Coluna{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

td.Validado{
    background-color: rgb(25, 0, 255);
    color: white;
}

td.Certificado{
  background-color: brown;
  border-collapse: separate;    
  border-style: solid;
  border-color: rgb(24, 24, 24);
  color: aliceblue;
  /* cursor: pointer;   */
}

td.Rua {
  background-color: rgb(95, 91, 90);
}

td.Vertical{
  background-color: rgb(95, 91, 90);
  color: rgb(95, 91, 90);
}

td.Busca{
  border-spacing: 4px;
  border-collapse: separate;    
  border-style: solid;
  border-color: rgb(24, 24, 24);
  border-radius: 3px;
  background-color: rgb(30, 43, 221);
  color: aliceblue;
} 

td.AlaSelecionada{
  border-spacing: 4px;
  border-collapse: separate;    
  border-style: solid;
  border-color: rgb(24, 24, 24);
  border-radius: 3px;
  background-color: rgb(100, 0, 255);
  color: aliceblue;
}

div.Bag{
  margin-bottom: 2em;
  border-spacing: 4px;
  border-collapse: separate;    
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
} 

div#matriz1{
  grid-area: matriz1;   
  margin-left: 1565px;
}

div#matriz2 {
  grid-area: matriz2;
  margin-left: 220px;
}

.matriz3 {
  background-color: rgb(95, 91, 90);
}

div#matriz3 { 
  grid-area: matriz3;
  margin-left: 720px;
}

div#matriz4 { 
  grid-area: matriz4;
}

div#matriz5 {
  grid-area: matriz5;
  margin-left: 189px;
}

div#matriz6 {
  grid-area: matriz6;
  margin-left: 189px;
}


div.matrizes{
display: grid;
grid-template-areas:
  'matriz1 matriz1 matriz1 matriz1'
  'matriz2 matriz2 matriz3 matriz3'
  'matriz4 matriz4 matriz4 matriz4'
  'matriz5 matriz5 matriz5 matriz5'
  'matriz6 matriz6 matriz6 matriz6'
  'matriz7 matriz7 matriz7 matriz7'
  ;
background-color: rgb(95, 91, 90);
}