<div id="perfil-user" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg color-green"></div>
    <!-- / TOP BACKGROUND -->
    <br>
    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div *ngIf="usuarioForm" class="content">
                <form name="usuarioForm" [formGroup]="usuarioForm" class="product w-100-p"
                    fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="Meus Dados">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <div fxFlex="80"></div>

                                    <div style="margin-left: auto;">
                                        <button mat-raised-button color="accent" class="save-product-button"
                                        [disabled]="usuarioForm.invalid"
                                        (click)="updateUsuario()">
                                            <span>Atualizar</span>
                                        </button>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <!-- PRIMEIRO NOME -->
                                    <mat-form-field appearance="outline" floatLabel="always" 
                                    class="w-100-p" fxFlex="40">
                                    <mat-label>Primeiro nome: </mat-label>
                                    <input matInput placeholder="Primeiro nome"
                                        name="firstName" 
                                        formControlName="firstName"
                                        required/>
                                    </mat-form-field>
                                    <!-- / PRIMEIRO NOME -->

                                    <div fxFlex="5"></div>

                                    <!-- SEGUNDO NOME -->
                                    <mat-form-field appearance="outline" floatLabel="always" 
                                    class="w-100-p" fxFlex="55">
                                    <mat-label>Segundo nome: </mat-label>
                                    <input matInput placeholder="Segundo nome"
                                        name="lastName" 
                                        formControlName="lastName"/>
                                    </mat-form-field>
                                    <!-- / SEGUNDO NOME -->
                                </div>
                                

                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <!-- UserName -->
                                    <mat-form-field appearance="outline" floatLabel="always" 
                                        class="w-100-p" fxFlex="35">
                                        <mat-label>Email: </mat-label>
                                        <input disabled matInput placeholder="UserName"
                                            name="username" readonly="true"
                                            formControlName="username"/>
                                    </mat-form-field>
                                    <!-- / UserName -->

                                    <div fxFlex="5"></div>

                                    
                                    <!-- GRUPO -->
                                    <mat-form-field  appearance="outline" floatLabel="always" 
                                    class="w-100-p" fxFlex="60">
                                            <mat-label>Grupo usuário</mat-label>
                                            <mat-select formControlName="userGroupId"
                                                        required disabled>
                                                <mat-option *ngFor="let grupo of grupos"
                                                            [value]="grupo.userGroupId">
                                                    {{grupo.userGroupName}}
                                                </mat-option>
                                            </mat-select>
                                    </mat-form-field>
                                    <!-- / GRUPO -->
                                    
                                    <!-- PassWord -->
                                    <mat-form-field *ngIf="pageType === 'new'" appearance="outline" floatLabel="always" 
                                        class="w-100-p" fxFlex="60">
                                        <mat-label>Senha: </mat-label>
                                        <input matInput type="password" placeholder="Senha"
                                            name="password" 
                                            formControlName="password"/>
                                    </mat-form-field>
                                    <!-- / PassWord -->
                                </div>                               
                            </div>
                        </mat-tab>
                        <mat-tab label="Alterar minha senha">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <div fxFlex="80"></div>

                                    <div style="margin-left: auto;">
                                        <button mat-raised-button color="accent" class="save-product-button"
                                        [disabled]="senhaAtual.invalid || novaSenha.invalid"
                                        (click)="updateSenha()">
                                            <span>Salvar Senha</span>
                                        </button>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center">

                                    <div fxFlex="35"></div>

                                    <mat-form-field appearance="outline" floatLabel="always" 
                                        class="w-100-p" fxFlex="30">
                                        <mat-label>Senha atual: </mat-label>
                                        <input matInput type="password" placeholder="Senha"
                                            name="password" [formControl]="senhaAtual"/>
                                        <mat-error *ngFor="let validation of password_validation_messages.password">
                                            <mat-error class="error-message" 
                                            *ngIf="senhaAtual.hasError(validation.type) && (senhaAtual.dirty || senhaAtual.touched)">{{validation.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>

                                    <div fxFlex="35"></div>

                                </div>

                                <br>
                                <br>
                                <div fxLayout="row" fxLayoutAlign="start center">

                                    <div fxFlex="35"></div>

                                    <mat-form-field appearance="outline" floatLabel="always" 
                                        class="w-100-p" fxFlex="30">
                                        <mat-label>Nova senha: </mat-label>
                                        <input matInput type="password" placeholder="Senha"
                                            name="password" [formControl]="novaSenha"/>
                                        <mat-error *ngFor="let validation of password_validation_messages.password">
                                            <mat-error class="error-message" 
                                            *ngIf="novaSenha.hasError(validation.type) && (novaSenha.dirty || novaSenha.touched)">{{validation.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>

                                    <div fxFlex="35"></div>

                                </div>
                            
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
