<div class="dialog-content-wrapper">

	<div class="item">

		<div>
			<span class="bloco">
				Bloco A
			</span>
		</div>

		<div style="padding: 5px;" *ngFor="let lote of lotes">
			<span class="lote">{{lote.lote}}</span>
			<span class="lote">{{lote.saldo_kg}} Kg</span>
			<span class="lote">{{lote.qtd_bag}} Bags</span>
			<span class="lote">{{lote.qtd_fracionado}} Fr.</span>
		</div>

		<div>
			<span class="detalhes">
				44699(1500.00)/1 -47594(1500.00)/2 -
			</span>
		</div>

	</div>



</div>