.modal-header {
	background-color: rgba(37, 37, 255, 0.87);
	color: white;
	border: 0;
}

.modal-body {
	text-align: left;
	vertical-align: middle; 
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.modal p {
	font-size: 15px;
}

.modal-footer {
	text-align: center; 
}

.texto{
	font-weight: bold;
}

.dialog-content-wrapper {
	max-height: 75vh;
	display: flex;
	flex-direction: column;
	width: 500px;
}

.mat-dialog-container {
	padding: 0px !important;
}

.loteHeader{
	width: 100%;
	font-size: 20px;
	padding: 5px;
	background-color: #363636;
	color: white;
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.loteItem{
	width: 300px;
	background-color: lightgray;
	padding: 5px;
	border-radius: 4px;
	border-left-style: solid;
	border-left-color: dodgerblue;
	border-left-width: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 2px 5px 0px;
	margin-top: 15x;		
	margin-bottom: 10px;
	margin-top: 10px;
}

.loteTitle{
	font-size: 23px;
	font-weight: bold;
}

.loteInfo{
	display: flex;
	flex-direction: column;
	font-size: 15px;
}

.textoFooter {
	font-size: 15px;
}

.AlaValidada{
	font-weight: bold; 
	/* background-color: LightGreen;  */
	background-color: PaleGreen; 
	padding: 10px;
	border-radius:  3px;
}