<div class="dialog-content-wrapper">
	<!-- HEADER -->
	<mat-toolbar class="primary m-0" style="background-color: dodgerblue; color: white;">
		<mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

			<div fxFlex="90">
				<span class="title dialog-title"
					style="white-space: normal; font-size: 30px; font-weight: bold;">{{titulo}}</span>
			</div>

			<div fxFLex="10">
				<button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
					<mat-icon>close</mat-icon>
				</button>
			</div>

		</mat-toolbar-row>
	</mat-toolbar>

	<!-- BODY -->
	<div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar style="flex-direction: column; padding: 0px;">

		<div style="display: flex; justify-content: center; align-items: center; margin: 30px;" *ngIf="isLoading">
			<mat-spinner diameter="40" mode="indeterminate">
			</mat-spinner>
		</div>

		<div class="modal-body" *ngIf="!isLoading">

			<div fxLayout="column" fxLayoutAlign="space-evenly center">

				<div *ngFor="let bag of lotesLiga" fxLayout="row" fxLayoutAlign="space-evenly center">

					<div class="loteItem">
						<div class="loteTitle">
							<span>{{bag.tipo_Caixa}}</span>
						</div>
						<div class="loteInfo">
							<span>{{bag.letra}}</span>
							<span>{{bag.estoque_Caixa}} Scs</span>
						</div>
					</div>
					<div class="botaoVerificar">
						<button mat-icon-button style="color: black; font-size: 20px;" type="button" (click)="ValidarAla(bag)">
							<mat-icon>done</mat-icon>
						</button>
					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FOOTER -->
	<div style="padding: 10px;" fxLayout="row" fxLayoutAlign="space-evenly center">
		<!-- <button mat-flat-button style="background-color: dodgerblue; color: white;" type="button" (click)="ValidarAla()">
			Confirmar
		</button>
		<button mat-flat-button style="background-color: dodgerblue; color: white;" type="button" (click)="InvalidarAla()">
			Invalidar
		</button> -->
	</div>

</div>