<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo" [@animate]="{ value: '*', params: { scale: '0.2' } }">
            <img src="assets/images/logos/logotipo.png" />
        </div>

        <div
            class="title"
            [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }"
        >
            Inventário NKG
        </div>

        <div
            class="description"
            [@animate]="{ value: '*', params: { delay: '100ms', y: '30px' } }"
        >
        Stockler
        </div>
    </div>

    <div
        id="login-form-wrapper"
        fusePerfectScrollbar
        [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }"
    >
        <div id="login-form">
            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/logotipo.png" />
            </div>

            <div class="title">FAÇA LOGIN PARA ACESSAR</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="usuario" autocomplete="off"/>
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error
                        *ngIf="loginForm.get('usuario').hasError('required')"
                    >
                        Digite seu usuário
                    </mat-error>
                    <!--<mat-error *ngIf="!loginForm.get('usuario').hasError('required') &&
                                loginForm.get('usuario').hasError('email')">
                        Por favor digite um email válido
                    </mat-error>-->
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password"/>
                    <mat-icon matSuffix class="secondary-text">
                        vpn_key
                    </mat-icon>
                    <mat-error *ngFor="let validation of password_validation_messages.password">
                        <mat-error class="error-message" 
                        *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
                      </mat-error>
                </mat-form-field>

                <br>
                <div
                    class="remember-forgot-password"
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutAlign="space-between center"
                >
                    <!--<mat-checkbox class="remember-me" aria-label="Remember Me">
                        Lembrar de mim
                    </mat-checkbox>-->

                    <a
                        class="forgot-password"
                        [routerLink]="'/pages/auth/forgot-password-2'"
                    >
                        Esqueceu sua senha?
                    </a>
                </div>

                <button *ngIf="loading === false" mat-raised-button color="accent" class="submit-button"
                    aria-label="LOGIN" [disabled]="loginForm.invalid" (click)="entrar()">
                    ENTRAR
                </button>

                <div>
                    <mat-spinner *ngIf="loading === true" diameter="32"></mat-spinner>
                </div>
            </form>

            <!--<div class="separator">
                <span class="text">OU</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">
                <button mat-raised-button class="google">
                    Entrar com Google
                </button>

                <button mat-raised-button class="facebook">
                    Entrar com facebook
                </button>
            </div>-->

            <!--<div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Não possui uma conta?</span>
                <a class="link" [routerLink]="'/pages/auth/register-2'">Crie a sua!</a>
            </div>-->
        </div>
    </div>
</div>
