<div class="dialog-content-wrapper">
	<!-- HEADER -->
	<mat-toolbar class="primary m-0" style="background-color: dodgerblue; color: white; font-size: 30px;">
		<mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

			<!-- DETALHES -->
			<div>
				<!-- <button mat-button color="" style="font-size: 20px;" fxFlex="15">Detalhes</button> -->
				<button mat-icon-button style="background-color: dodgerblue; color: white;" type="button">
					<!-- (click)="AbrirModalDetalhes()" -->
					<mat-icon>info</mat-icon>
				</button>
			</div>

			<!-- SETA ESQUERDA -->
			<div>
				<button mat-icon-button style="background-color: dodgerblue; color: white;" type="button" (click)="VoltarAla()">
					<mat-icon style="font-size: 40px;">keyboard_double_arrow_left</mat-icon>
				</button>
			</div>

			<!-- TITULO -->
			<div>
				<span class="title dialog-title" style="white-space: normal; font-weight: bold;">
					{{pageTitle}}
				</span>
			</div>

			<!-- SETA DIREITA -->
			<div>
				<button mat-icon-button style="background-color: dodgerblue; color: white;" type="button"
					(click)="AvancarAla()">
					<mat-icon style="font-size: 40px;">keyboard_double_arrow_right</mat-icon>
				</button>
			</div>

			<div>
				<button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
					<mat-icon>close</mat-icon>
				</button>
			</div>

		</mat-toolbar-row>
	</mat-toolbar>

	<div class="loteHeader" *ngFor="let bag of cabecalho" fxLayout="row" fxLayoutAlign="space-evenly center">
		<span class="texto">Quant. Bags: {{bag.bags}}</span>
		<!-- <span class="texto"> Quant. Frac.: {{bag.fracionados}}</span> -->
		<span class="texto"> Quant. Lotes: {{bag.lotes}}</span>
	</div>

	<!-- BODY -->
	<div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar style="flex-direction: column; padding: 0px;">

		<div style="display: flex; justify-content: center; align-items: center; margin: 30px;" *ngIf="isLoading">
			<mat-spinner diameter="40" mode="indeterminate"></mat-spinner>
		</div>

		<div class="modal-body" *ngIf="!isLoading">
			<div fxLayout="column" fxLayoutAlign="space-evenly center">
				<div *ngFor="let bag of lotes">
					<div class="loteItem">
						<div class="loteTitle">
							<span>{{bag.lote}}</span>
						</div>

						<div class="loteInfo">
							<span>{{bag.saldo_kg}} Kgs</span>
							<span>{{bag.qtd_bag}} Bags</span>
							<span>{{bag.saldo_scs}} Sacas</span>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<!-- FOOTER -->
	<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-evenly center">

		<div>
			<button mat-icon-button type="button" (click)="InvalidarAla()">
				<img style="width: 35px;" src="../../../assets/Icones.png" alt="">
			</button>
			<span class="textoFooter">Retornar Valid.</span>
		</div>

		<div>
			<span class="AlaValidada" *ngIf="isValid">
				Ala Confirmada
			</span>
		</div>

		<div>
			<button mat-icon-button type="button" (click)="ValidarAla()">
				<img style="width: 35px;" src="../../../assets/ValidaAla.png" alt="">
			</button>
			<span class="textoFooter">Validar</span>
		</div>

	</div>

</div>