<div class="dialog-content-wrapper">
        <mat-toolbar class="mat-accent m-0">
            <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">{{dialogTitle}}</span>
                <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    
        <div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>
    
            <form name="emailForm" [formGroup]="emailForm" class="event-form w-100-p" fxLayout="column" fxFlex>
    
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Endereço</mat-label>
                    <input matInput name="enderecoEmail" formControlName="enderecoEmail" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Observações</mat-label>
                    <input matInput name="observacoesMovimento" formControlName="observacoesMovimento">
                </mat-form-field>
    
            </form>
        </div>
    
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    
            <button *ngIf="action ==='edit'" mat-button color="primary" class="mr-8"
                    (click)="matDialogRef.close(['delete',emailForm])" aria-label="Deletar"
                    matTooltip="Deletar">
                DELETAR
            </button>
    
            <button *ngIf="action !== 'edit'"
                    mat-button color="primary"
                    class="save-button"
                    (click)="matDialogRef.close(emailForm)"
                    [disabled]="emailForm.invalid"
                    aria-label="Adicionar">
                ADICIONAR
            </button>
    
            <button *ngIf="action === 'edit'"
                    mat-button color="primary"
                    class="save-button"
                    (click)="matDialogRef.close(['save', emailForm])"
                    [disabled]="emailForm.invalid"
                    aria-label="SAVE">
                SALVAR
            </button>
    
        </div>
    </div>
    