<div style="justify-content: center; align-items: center; ">

	<div class="main">
		<div class="header">
			<span>Acesso ao Sistema</span>
		</div>

		<div class="body">
			<mat-form-field appearance="outline" floatLabel="always">
				<mat-label>Usuário:</mat-label>
				<input [ngModelOptions]="{ standalone: true }" matInput type="text" name="Login" class="input"
					[(ngModel)]="login">
			</mat-form-field>

			<mat-form-field appearance="outline" floatLabel="always">
				<mat-label>Senha:</mat-label>
				<input [ngModelOptions]="{ standalone: true }" matInput type="text" name="Senha" type="password" class="input"
					[(ngModel)]="senha">
			</mat-form-field>
		</div>

		<div class="footer">
			<button mat-button type="button" (click)="efetuarLogin()">
				Entrar
			</button>
		</div>
	</div>

</div>