.bloco {
	color: blue;
	font-weight: bold;
}

.lote {
	color: black;
	padding-left: 15px;
	font-weight: bold;
}

.detalhes {
	color: gray;
	padding-left: 35px;
}

.item{
	padding-top: 15px;
	padding-bottom: 15px;
}

.dialog-content-wrapper {
	max-height: 75vh;
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 20px;
}