<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{ value: '*', params: { scale: '0.2' } }">
            <img src="assets/images/logos/logotipo.png" />
        </div>

        <div
            class="title"
            [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }"
        >
            Bem Vindo ao AEX!
        </div>

        <div
            class="description"
            [@animate]="{ value: '*', params: { delay: '100ms', y: '30px' } }"
        >
            AgroSync Exportação
        </div>

    </div>

    <div id="reset-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">RESETE SUA SENHA</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <!--<mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                        Email é requerido
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                        Por favor entre com um email válido
                    </mat-error>
                </mat-form-field>-->

                <mat-form-field appearance="outline">
                    <mat-label>Nova senha</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngFor="let validation of password_validation_messages.password">
                        <mat-error class="error-message" 
                        *ngIf="resetPasswordForm.get('password').hasError(validation.type) && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">{{validation.message}}</mat-error>
                      </mat-error>
                </mat-form-field>
                <br><br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Nova senha (confirme)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        A senha é requerida
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        As senhas devem corresponder
                    </mat-error>
                    <mat-error *ngFor="let validation of password_validation_messages.password">
                        <mat-error class="error-message" 
                        *ngIf="resetPasswordForm.get('passwordConfirm').hasError(validation.type) && (resetPasswordForm.get('passwordConfirm').dirty || resetPasswordForm.get('passwordConfirm').touched)">{{validation.message}}</mat-error>
                      </mat-error>
                </mat-form-field>
                <br> <br> <br>
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" (click)="resetPassword()" [disabled]="resetPasswordForm.invalid">
                    CONFIRMAR NOVA SENHA
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login-2'">Voltar para login</a>
            </div>

        </div>
    </div>
</div>
