<div fxLayout="row" fxLayoutAlign="space-around center"
	style="background-color: white; margin-top: 20px; height: 70px; ">
	<!-- class="fixed-top"  -->

	<!-- MODAL DAS CAIXAS -->
	<div>
		<button mat-button [matMenuTriggerFor]="menu">Caixas</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="AbrirModalCaixaRec()">Caixas do Recebimento</button>
			<!-- <button mat-menu-item (click)="AbrirModalCaixaReb()">Caixas do Rebeneficio</button> -->
			<button mat-menu-item (click)="AbrirModalCaixaLig()">Caixas da Liga</button>
		</mat-menu>
	</div>

	<!-- INPUT BUSCA E BOTOES -->
	<div>
		<mat-form-field appearance="outline" floatLabel="always">
			<mat-label>Buscar Lotes:</mat-label>
			<input [ngModelOptions]="{ standalone: true }" matInput type="text" name="Lote" placeholder="Lote"
				[(ngModel)]="lote">
		</mat-form-field>

		<button mat-flat-button style="background-color: dodgerblue; color: white; margin-left: 5px;" type="button"
			[disabled]="lote == '' || lote == undefined" (click)="FiltraLotes()">
			<mat-icon>
				search
			</mat-icon>
		</button>

		<button mat-flat-button style="background-color: dodgerblue; color: white; margin-left: 5px;" type="button"
			[disabled]="lote == '' || lote == undefined" (click)="LimparConsulta()">
			<mat-icon>
				cleaning_services
			</mat-icon>
		</button>
	</div>

	<!-- EXPORTAR EXCEL -->
	<div>
		Excel
		<button mat-icon-button (click)="ExportExcel()">
			<mat-icon>
				file_download
			</mat-icon>
		</button>
	</div>

	<!-- LOGOUT -->
	<div>
		<div>
			<span>
				Bem vindo, {{this._apiServiceUser.dadosUser.usuario}}
			</span>
		</div>
		Sair
		<button mat-icon-button (click)="this._apiServiceUser.Logout()">
			<mat-icon>
				logout
			</mat-icon>
		</button>
	</div>
</div>


<div style="overflow: auto; background-color: rgb(95, 91, 90);">
	<div class="matrizes" style="background-color: rgb(95, 91, 90);">

	</div>
</div>