<div class="dialog-content-wrapper">
	<!-- HEADER -->
	<mat-toolbar class="primary m-0" style="background-color: dodgerblue; color: white;">
		<mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

			<div fxFlex="90">
				<span class="title dialog-title"
					style="white-space: normal; font-size: 30px; font-weight: bold;">{{titulo}}</span>
			</div>

			<div fxFLex="10">
				<button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
					<mat-icon>close</mat-icon>
				</button>
			</div>

		</mat-toolbar-row>
	</mat-toolbar>

	<!-- BODY -->
	<div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar style="flex-direction: column; padding: 0px;">

		<div style="display: flex; justify-content: center; align-items: center; margin: 30px;" *ngIf="isLoading">
			<mat-spinner diameter="40" mode="indeterminate">
			</mat-spinner>
		</div>

		<div class="modal-body" *ngIf="!isLoading">

			<!-- 
			<div class="loteHeader">
				<span class="texto">Bags Ala: </span>
				<span class="texto"> Qtd Lotes: </span>
			</div> 
			-->

			<div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 15px;">
				<div>
					<button mat-icon-button style="background-color: dodgerblue; color: white;" type="button">
						<mat-icon>navigate_before</mat-icon>
					</button>
				</div>

				<div fxLayout="column" fxLayoutAlign="space-evenly start">
					<div>
						<div>
							<div class="loteItem">
								<div class="loteTitle">
									<span>lote</span>
								</div>
								<div class="loteInfo">
									<span>Kgs</span>
									<span>Bags</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div>
					<button mat-icon-button style="background-color: dodgerblue; color: white;" type="button">
						<mat-icon>navigate_next</mat-icon>
					</button>
				</div>

			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-evenly center">
		<button mat-flat-button style="background-color: dodgerblue; color: white;" type="button">Confirmar
		</button>
		<button mat-flat-button style="background-color: dodgerblue; color: white;" type="button">Invalidar</button>
	</div>

</div>