.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
	margin: auto;
	padding: 50px;
}

.header {
	/* background-color: aqua; */
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
	font-size: 15px;
}

.body {
	/* background-color: aquamarine; */
	display: flex;
	flex-direction: column;
}

.footer {
	/* background-color: bisque; */
	display: flex;
	align-items: center;
	justify-content: center;
}